<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.leaf.myapp.dao.AdminNoticeDAO">
  	<select id="noticeAll" resultType="com.leaf.myapp.vo.AdminNoticeVO">
  		select admin_no, userid, admin_title, admin_content, to_char(admin_writedate, 'YY-MM-DD') admin_writedate, admin_hit, img, section from adminnotice order by admin_no desc
  	</select>
  	<select  id="noticeView" resultType="com.leaf.myapp.vo.AdminNoticeVO">
        select admin_no, admin_title, admin_content, img, to_char(admin_writedate, 'YY-MM-DD') admin_writedate
        from adminnotice where admin_no=#{param1}
     </select>
     <insert id="adminnoticeWriteOk" parameterType="com.leaf.myapp.vo.AdminNoticeVO">
     	insert into adminnotice(admin_no, userid, admin_title, admin_content, img, section)
     	values(adminnotice_sq.nextval, 'apple',#{admin_title},#{admin_content},#{img},#{section})
     </insert>
 </mapper>