<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leaf.myapp.dao.OpenDAO">
	<select id="openUserPageGoInfo" resultType="com.leaf.myapp.vo.OpenRequestVO">
		select tel, email from registers where userid=#{param1}
	</select>
	<insert id="openRequestInfo" parameterType="com.leaf.myapp.vo.OpenRequestVO">
		insert into openQuestion(oq_num,openhopeaddr,content,writedate,userid)
		values(opensq.nextval,'서울시/서대문구','창업문의드립니다',sysdate,'apple');
	</insert>
</mapper>  